<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  {{!-- Bootstrap css --}}
  <!-- Latest compiled and minified CSS -->
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u"
    crossorigin="anonymous">

  <!-- Optional theme -->
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css" integrity="sha384-rHyoN1iRsVXV4nD0JutlnGaslCJuC7uwjduW9SVrLvRYooPp2bWYgmgJQIXwl/Sp"
    crossorigin="anonymous">

  {{!-- Ссылка для layout.css --}}
  <link rel="stylesheet" href="css/layout.css" type="text/css">
  <link rel="stylesheet" href="css/landing.css" type="text/css">
  <link rel="stylesheet" href="css/signup.css" type="text/css">
  <link rel="stylesheet" href="css/aboutus.css" type="text/css">
  <link rel="stylesheet" href="css/map.css" type="text/css">
  <link rel="stylesheet" href="css/profile.css" type="text/css">

  {{!-- Font awesome --}}
  <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.5.0/css/all.css" integrity="sha384-B4dIYHKNBt8Bc12p+WXckhzcICo0wtJAoU8YZTY5qE0Id1GSseTk6S+L3BlXeVIU"
    crossorigin="anonymous">

  {{!-- Ссылки для карты --}}
  <link rel="stylesheet" type="text/css" href="https://js.api.here.com/v3/3.0/mapsjs-ui.css?dp-version=1533195059" />
  <script type="text/javascript" src="https://js.api.here.com/v3/3.0/mapsjs-core.js"></script>
  <script type="text/javascript" src="https://js.api.here.com/v3/3.0/mapsjs-service.js"></script>
  <script type="text/javascript" src="https://js.api.here.com/v3/3.0/mapsjs-ui.js"></script>
  <script type="text/javascript" src="https://js.api.here.com/v3/3.0/mapsjs-mapevents.js"></script>
  <script src="./js/mapser.js"></script>
  <title>CheckOut</title>
</head>

<body>

  <nav class="navbar navbar-default myhead" style="margin:0;">
    <div class="container-fluid">
      <!-- Brand and toggle get grouped for better mobile display -->


      {{#if title }}
      <div class="navbar-header">
        <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1"
          aria-expanded="false">
          <span class="sr-only">Toggle navigation</span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
        <a class="navbar-brand" href="/checkout" style="font-size: 50px; margin: 15px 10px 0 0;"><b style="color:black">Check</b><b
            style="color:#64a0c2;">Out</b></a>
      </div>

      <!-- Collect the nav links, forms, and other content for toggling -->
      <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
        <ul class="nav navbar-nav">

        </ul>
        <div class="search_header form-group">
          <input type="text" class="searchplace form-control" id="SearchTextHeader" onchange="enterSearch()"
            placeholder="Поиск" style="font-size: 30px;">
        </div>
        <img src="./images/coin.svg" alt="coin" class="coin_img">
        <label class="num_valut" id="valuta">0</label>
        <ul class="nav navbar-nav navbar-right">

          <li><a href="#" id="signin" style="margin:15px 0 0 0">{{name}} <i class="far fa-address-card"></i></a>
            </i>
          </li>
        </ul>
        </li>
        </ul>
      </div><!-- /.navbar-collapse -->
    </div><!-- /.container-fluid -->
  </nav>
  <div class="sliderU" id="sld_sgin">
    <div class="form_sld">


      <a href="/prof" class="profile_btn" id="sliderprf">Профиль <i class="fas fa-user-tie"></i></a>
      <a href="#" class="profile_btn" id="sliderpev">События <i class="fas fa-star-half-alt"></i></a>
      <a href="/awards" class="profile_btn" id="sliderpadw">Награды <i class="fas fa-award"></i></a>
      <a href="#" class="profile_btn" id="sliderprt">Рейтинг <i class="fas fa-crown"></i></a>
      <a href="/logout" class="profile_btn " id="sliderout">Выйти <i class="fas fa-sign-out-alt"></i></a>
      </form>
    </div>
  </div>

  {{else}}
  <div class="navbar-header">
    <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1"
      aria-expanded="false">
      <span class="sr-only">Toggle navigation</span>
      <span class="icon-bar"></span>
      <span class="icon-bar"></span>
      <span class="icon-bar"></span>
    </button>
    <a class="navbar-brand " href="/" style="font-size: 50px; margin: 15px 10px 0 0;"><b style="color:black">Check</b><b
        style="color:#64a0c2;">Out</b></a>
  </div>

  <!-- Collect the nav links, forms, and other content for toggling -->
  <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
    <ul class="nav navbar-nav">

    </ul>

    <ul class="nav navbar-nav navbar-right">
      <li><a href="/aboutus" style="margin:15px 0 0 0">О нас</a></li>
      <li><a href="#" id="signin" style="margin:15px 0 0 0">Войти</a></li>
      <li><a href="/signup" style="margin:15px 0 0 0">Зарегистрироваться</a></li>
    </ul>
    </li>
    </ul>
  </div><!-- /.navbar-collapse -->
  </div><!-- /.container-fluid -->
  </nav>
  <div class="slider" id="sld_sgin">
    <div class="form_sld">
      <form id="signin" name="signin" method="post" action="signin">
        <input type="text" id="sliderlogin" placeholder="email" name="email" class="lg_sld"><br>
        <input type="password" name="password" id="sliderpass" placeholder="Пароль" class="lg_sld"><br>
        <button class="sgin_btn" id="sliderin">Войти <i class="fas fa-sign-out-alt"></i></button>
      </form>
    </div>
  </div>
  {{/if}}


  {{{body}}}
  <footer>
    <div class="info_footer">
      <div class="cop_footer">
        ©SEALSMAFIA comp. 2018 г.
      </div>
      <div class="info_footer_contacts">
        <p>Наши контакты</p>
        <a href="#">Vk</a>
        <a href="#">Twitter</a>
        <a href="#">Facebook</a>
      </div>
      <div class="info_footer_div">
        <p>Навигация</p>
        <a href="/aboutus">О нас</a>
        <a href="/signup">Регистрация</a>
        <a href="/">Главная страница</a>
      </div>
    </div>
  </footer>

  <!-- jQuery library -->
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
  <!-- Latest compiled JavaScript -->
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>

  <script src="js/manip.js"></script>

  <script src="./js/sqrpt.js"></script>

</body>



</html>