<div class="container">
  <div class="about_us">
    <table class="aboutus_table">
      <tr>
        <td>
          <img src="./images/vlad.jpg" alt="VLAD" class="aboutus_table_img">
        </td>
        <td class="discrip_table_aboutus">
          <h1>Владислав Крушенитский</h1>
          <p>Капитан комманды. Специализируется на backend а также на верстке</p>
          <a class="aboutus_a" href="https://vk.com/foxbuka">VK</a>
        </td>
      </tr>
      <tr>
        <td>
          <img src="./images/mark.jpg" alt="MARK" class="aboutus_table_img">
        </td>
        <td class="discrip_table_aboutus">
          <h1>Марк Поповиченко</h1>
          <p>Менждер. Специализируется на подготовке презентаций, составления питча и представления продукта</p>
          <a class="aboutus_a" href="https://vk.com/markpopovichenko">VK</a>
        </td>
      </tr>
      <tr>
        <td>
          <img src="./images/artem.jpg" alt="ARTEM" class="aboutus_table_img">
        </td>
        <td class="discrip_table_aboutus">
          <h1>Артём Поляничев</h1>
          <p>Программист backend. Специализируется на backend, frontend, костыли</p>
          <a class="aboutus_a" href="https://vk.com/debil1111">VK</a>
        </td>
      </tr>
      <tr>
        <td>
          <img src="./images/nikita.jpg" alt="NIKITA" class="aboutus_table_img">
        </td>
        <td class="discrip_table_aboutus">
          <h1>Булахов Никита</h1>
          <p>Джун. Специализируется на frontend</p>
          <a class="aboutus_a" href="https://vk.com/thenikter">VK</a>
        </td>
      </tr>
    </table>
  </div>