<div class="container">
  <div class="main_info_land">
    <div class="info_land">
      <p class="text_land">Все лучшие мероприятия вашего города на карте.<br> Приходи и создавай свои события.</p>
    </div>
    <div class="submit_div">
      <a href="/signup" class="singup_btn_land" style="margin:15px 0 0 0">Зарегистрироваться</a>
    </div>
  </div>
  <div class="backg_with_dark">
    <img src="./images/overloy.jpg" alt="" class="overl">
    <div class="carus">
      <div id="carousel-example-generic" class="carousel slide" data-ride="carousel">
        {{!-- <ol class="carousel-indicators">
          <li data-target="#carousel-example-generic" data-slide-to="0" class="active"></li>
          <li data-target="#carousel-example-generic" data-slide-to="1"></li>
          <li data-target="#carousel-example-generic" data-slide-to="2"></li>
          <li data-target="#carousel-example-generic" data-slide-to="3"></li>
        </ol> --}}

        <!-- Wrapper for slides -->
        <div class="carousel-inner" role="listbox">
          <div class="car_img_land item active">
            <img src="./images/1.jpg" alt="">
            <div class="carousel-caption">
            </div>
          </div>
          <div class="car_img_land item">
            <img src="./images/2.jpg" alt="">
            <div class="carousel-caption">
            </div>
          </div>

          <div class="car_img_land item">
            <img src="./images/3.jpg" alt="">
            <div class="carousel-caption">
            </div>
          </div>

          <div class="car_img_land  item">
            <img src="./images/4.jpg" alt="">
            <div class="carousel-caption">
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
</div>