<div class="container_prof">
  <div class="profile">

    <div class="profile_cur_info">
      <div class="profile_avtar">
        <img src="./images/vlad.jpg" alt="VLAD" class="img_avatar">
      </div>
      <div class="profile_info">
        <div class="main_info_profile">
          <h1>Владислав Крушенитский</h1>
          <h2>Be a human</h2>
        </div>
        <div class="profile_about">
          <p>Я простой студент. Учусь в СКФУ и люблю в свободное время гулять по городу и посещать различные
            мероприятия.</p>
        </div>
      </div>
    </div>
    <hr>
    <div class="profile_change_info">
      <div class="profile_first_change_info">
        <a href="#">Изменить пароль</a>

      </div>
      <div class="profile_second_change_info">
        <p>Изменить email</p>
        <input type="text" class="profile_change_email" placeholder="mark@gmail.com">
      </div>
    </div>
    <button class="btn-primary">Сохранить</button>
  </div>
</div>