<div class="container_su">
    <div class="reg_su">
        <form class="reg_form_su" id="signup" name="signup" method="post" action="/signup">
            <label for="email"> Введите ваше Email<br>
                <input type="email" id="email" name="email" placeholder="Email address">
            </label>
            <label for="firstname"> Введите Имя <br>
                <input type="text" id="login" name="firstname" placeholder="Имя">
            </label>
            <label for="lastname"> Введите ваш Фамилию <br>
                <input type="text" id="pass" name="lastname" placeholder="Фамилия">
            </label>
            <label for="password"> Введите ваш Пароль<br>
                <input type="password" id="email" name="password" placeholder="Пароль">
            </label>
            <button class="btn_reg_su">Зарегистрироваться</button>
        </form>
    </div>
    {{!-- <div class="backg_with_dark">
        <img src="./images/overloy.jpg" alt="" class="overl">
        <img src="./images/signuppic.jpg">
    </div> --}}
</div>