<div class="container_su">
    <div class="reg_su">
        <form class="reg_form_su" action="">
            <label> Введите ваше Ф.И.О.<br>
                <input type="text" id="fio" placeholder="Ф.И.О.">
            </label>
            <label> Введите уникальный логин <br>
                <input type="text" id="login" placeholder="Логин">
            </label>
            <label> Введите ваш пароль <br>
                <input type="password" id="pass" placeholder="Пароль">
            </label>
            <label> Введите ваш email<br>
                <input type="text" id="email" placeholder="Email">
            </label>
            <button class="btn_reg_su">Зарегистрироваться</button>
        </form>
    </div>
    {{!-- <div class="backg_with_dark">
        <img src="./images/overloy.jpg" alt="" class="overl">
        <img src="./images/signuppic.jpg">
    </div> --}}
</div>